<div class="title">アカウントを作成</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username, '使用者帳號' %><br />
    <%= f.text_field :username, class: 'input' %>
    <p class="help">ex: @yourname</p>
  </div>

  <div class="field">
    <%= f.label :email, 'Eメール' %><br />
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, 'パスワード' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <div class="control">
      <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'パスワードを確認してください' %><br />
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'button is-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
