<h1 class="title">Stories</h1>

<% @stories.each do |story| %>
  <h2 class="title">
    <%= link_to story.title, edit_story_path(story), class: 'has-text-grey-darker' %>
    <%= content_tag :span, 'Published', class: 'tag is-primary' if story.published? %>
    <%= content_tag :span, 'Unpublished', class: 'tag is-light' if story.draft? %>
  </h2>
  <p><%= strip_tags(story.content).truncate(200) %></p>
  <p>
    Last Updated: <%= time_ago_in_words(story.updated_at) %>
    <%= link_to 'Edit', edit_story_path(story), class: 'button is-text is-small', data: { turbolinks: false } %>
    <%= link_to 'Delete', story, method: 'delete', class: 'button is-danger is-small', data: { confirm: 'Are You Sure?' } %>
  </p>
  <hr>
<% end %>